/*

Anna and Drew
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

*/
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
.grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}
.euphoria-script-regular {
  font-family: "Euphoria Script", cursive;
  font-weight: 400;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
		background: #ffffff;
    font-family: "Cinzel", Sans-Serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: #cb7575;
}



/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    font-family: "Cinzel", serif;
    font-weight: 400;
    text-align: center;
}

h3,h5 {
  font-weight: 500;
  font-family: "Sofia";
}

h1 {
    font-size: 70px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
  line-height: 50px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
    /* [disabled]color: #07EBFB; */
    text-align: left;
}

p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}

a {
  text-decoration: none !important;
  outline: none;
}

ol {
    text-align:center
}

/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}


#register {
  padding-top: 10rem;
  padding-bottom: 30rem;
}

#overview,
#detail, #video,
#speakers,
#program,
#schedule
#transportation, 
#abstract, footer {
    padding-top: 10rem;
    padding-bottom: 30rem;
}

#detail,
#speakers, #transportation,
footer {
  text-align: center;
}


#program h3, #detail h3, #video h3,
#register h3,
#venue h3,
#abstract h3 {
    padding-bottom: 12px;
    /* [disabled]text-align: left; */
}

#abstract h3 {
	padding-bottom: 5px
}

#intro .btn,
#abstract .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger {
	background: #f2545f;
    border-color: transparent;
}
#abstract .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#abstract .btn {
  border-radius: 100px;
}


#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #cb7575;
}

#abstract .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    background: #cb7575;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/*---------------------------------------
  SAVE THE DATE              
-----------------------------------------*/
.save-the-date-thumb {
  background: var(--white-color);
  border-radius: var(--border-radius-small);
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.save-the-date-title {
  background: var(--primary-color);
  color: var(--white-color);
  margin-bottom: 0;
  padding: 10px 20px;
}

.save-the-date-body {
  padding: 15px 20px;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
}

.custom-navbar .navbar-brand {
    color: #f2545f;
    font-weight: 400;
    font-size: 2rem;
    line-height: 20px;
}

.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0px;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #cb7575;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }

}


/*---------------------------------------
    Intro section              
-----------------------------------------*/
#intro {
    background: url('../images/IMG_9650.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: center;
}

#intro h3 {
  letter-spacing: 2px;
}



/*---------------------------------------
   Program  section              
-----------------------------------------*/
#program h4 {
    color: #808080
}
#program img {
  position:relative;
  padding-top: 10px;
  padding-bottom: 32px;
}

#program h6 {
	text-align: justify;
}

#program {
	padding-top: 10rem;
    padding-bottom: 20rem;}




/*---------------------------------------
    Detail section              
-----------------------------------------*/
#detail {
    background:#f9f9f9;
    color: #;
}

#detail .fa {
  color: #66628A;
  font-size: 48px;
}



/*---------------------------------------
    Video section              
-----------------------------------------*/
#video {
    background:#f9f9f9;
}
#video iframe {
  border: none;
}



/*---------------------------------------
   Speakers section              
-----------------------------------------*/
#speakers {
    background-color: #f9f9f9;
	padding-top: 10rem;
	padding-bottom: 55rem;
}


#speakers h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#speakers h6 {
  color: #666;
  margin-top: 4px;
}

#speakers img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#speakers .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}



/*---------------------------------------
   Overview section              
-----------------------------------------*/

#overview h4 {
    color: #808080
}

#overview h3 {
  margin-top: 12px;
}

#overview .program-divider {
    border: 1px solid #f9f9f9;
  
}

#overview span {
    padding-right: 12px;
}

#overview img {
	padding-top: 2.5rem;
	padding-bottom: 30rem;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: center;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}

/*---------------------------------------
  Schedule section              
-----------------------------------------*/
#schedule{
	padding-top: 10rem;
    padding-bottom: 30rem;
}


/*---------------------------------------
    Regsiter section              
-----------------------------------------*/
#register {
    background: url("../images/pulsarplanetsml07.jpg")100% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color:white;
}
#register a {
    color:#ffffff
}
#register .form-control {
  background: #f2545f;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}
#register form {
	background: transparent ;
	color: #ffffff;
}

#register .input {
  height: 45px;
  background: #f2545f;
}

#register input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}

/*---------------------------------------
   Reg Pricing section              
-----------------------------------------*/
#detail{
	padding-top: 10rem;
    padding-bottom: 30rem;
}
#detail h5 {
	text-align: center;
	padding-top: 0px;
}


/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 20rem;
}

#contact .panel-group {
  margin-top: 32px;
}

#contact .panel-group .panel {
  margin-bottom: 8px;
}

#contact .panel-default {
  border: none;
}

#contact .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#contact .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#contact .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#contact .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#contact .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#contact .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}



/*---------------------------------------
   Venue section              
-----------------------------------------*/
#venue {
    background: url('../images/elk.png') #AEAEAE 80% repeat-y fixed; 
	background-blend-mode:overlay;
    background-size: cover;
    background-position: center center;
    padding-top: 20rem;
    padding-bottom: 20rem;}


#venue h2{
    color: #ffffff;
    size: 40px; 
    text-align: center
        
}
#venue h4{
    color:#ffffff;
    size: 20px;
    text-align: center;
}

#venue h5 {
	color: #ffffff ;
	padding-top: 40px;
}
#venue p {
  color: #231F1F;
  padding-top: 40px;
  padding-bottom: 10px;
}

#venue .btn-danger {
    background: #ffffff;
    border-color: transparent;
}
#venue .btn-default:hover {
  background: transparent;
  border-color: #ffffff;
  color: #000000;
}
#venue a {
    color: #040000;
    text-align: center;
}



/*---------------------------------------
   Transporation and Location section             
-----------------------------------------*/
#transportation {padding-top: 10rem;
    padding-bottom: 20rem;}

#transportation img {
  margin-top: 20px;
}

/*---------------------------------------
   Accommodations section             
-----------------------------------------*/
#accommodations {padding-top: 10rem;
    padding-bottom: 20rem;}

#accommodations img {
  margin-top: 20px;
}


/*---------------------------------------
   Abstact section              
-----------------------------------------*/
#abstract {
    background: url('../images/') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#abstract .section-title {
	margin-bottom: 10px;
}
#abstract h2 {
	padding-bottom: 2px;
}
#abstract .contact_des {
  padding-top: 0rem;
  padding-right: 2rem;
}

#abstract .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}



#abstact .btn-danger{
	padding: 10px 42px;
}


/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #cb7575;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}
/*---------------------------------------
  SAVE THE DATE              
-----------------------------------------*/
.save-the-date-thumb {
  background: var(--white-color);
  border-radius: var(--border-radius-small);
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.save-the-date-title {
  background: var(--primary-color);
  color: var(--white-color);
  margin-bottom: 0;
  padding: 10px 20px;
}

.save-the-date-body {
  padding: 15px 20px;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #intro { height: 65vh; }

  #video iframe {
    margin-top: 42px;
  }

  #faq .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #overview img{
	padding-bottom: 20rem;
  }
	
  #program img {
    padding-bottom: 20rem;
  }

  #transportation img {
    padding-top: 22px;
  }

  #faq .contact_detail {
    margin-top: 82px;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}
 .save-the-date-thumb {
    text-align: right;
  }